p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
  font-family: 'Iosevka', 'Fira Code', 'Consolas', monospace;
}

body {
  font-family: 'Inter', 'Segoe UI', sans-serif;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Inter", 'Segoe UI', sans-serif;
}